#hero {
	height: 100vh;
	margin-bottom: 80px;
	background: url(_images/hero-bkg-02.jpg) no-repeat center center fixed;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.hero-logo {
		// background-color: rgba(0,0,0,0.7);
		width: 100%;
		// padding: 30px 0px;
		text-align: center;
		img {
			width: 90%;
			max-width: 361px;
			z-index: 1;

		}
		> p {
			color: #fff;
			font-size: 2em;
			margin-top: 0.5em;
		}
	}
		
	a.scroll-link {
		margin-top: 15px;
		text-decoration: none;
		background-color: rgba(191,185,135,0.8);
		padding: 12px 18px;
		font-size: 2em;
		color: #fff;
		z-index: 2;
		transition: all 0.3s ease-out;
		border-radius: 50%;
		border: 1px solid #fff;
		animation: in .2s 2 linear;
		&:hover {
			background-color: rgba(142,137,95,0.9);
			// animation: out .2s 2 linear;
		}
	}
}
@keyframes in {
    0%   { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
}
@keyframes out {
    from   { transform: rotate(0deg); }
    to { transform: rotate(360deg);}
}
@-webkit-keyframes in {
    0%   { -webkit-transform: rotate(360deg); }
    100% { -webkit-transform: rotate(0deg); }
}
@-webkit-keyframes out {
    from   { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes in {
    0%   { -moz-transform: rotate(360deg); }
    100% { -moz-transform: rotate(0deg); }
}
@-moz-keyframes out {
    from   { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg);}
}
@-ms-keyframes in {
    0%   { -ms-transform: rotate(360deg); }
    100% { -ms-transform: rotate(0deg); }
}
@-ms-keyframes out {
    from   { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg);}
}


@media screen and (max-width: 680px) {
	#hero {
		margin-bottom: 80px;
		background: url(_images/mobile-hero-bkg.jpg) no-repeat center center fixed;
        background-attachment: scroll;
	}
}