* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
p {
  line-height: 1.5em;
  margin-top: 1em;
}
ul {
  display: block;
  list-style-type: disc;
  margin: 1em 0 1em 0;
  padding-left: 40px;
  line-height: 1.5em;
}
ul ul {
  list-style: circle;
  margin-top: .5em;
  li:first-of-type {
    list-style: none;
    margin-left: -1em;
    font-weight: bold;
    text-decoration: underline;
  }
}
h1 {
  font-family: 'Bad Script', Calibri, sans-serif;
  font-size: 1.6em;
  line-height: 1.5em;
  color: #333;
  margin: 1em 0;
}
p.p-1 {
  margin-top: 0;
}
a.reg-anchor {
  text-decoration: underline;
  color: blue;
  &:hover {
    text-decoration: none;
  }
}

a.back-to-top {
  display: none;
  z-index: 85;
  position: fixed;
  bottom: 0px;
  right: 50%;
  margin-right: -76px;
  text-align: center;
  background-color: rgba(78,68,61,0.6);
  padding: 10px 18px 10px 18px;
  color: #fff;
  text-decoration: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  box-shadow: -4px 4px 3px 0px rgba(50, 50, 50, 0.44);
  transition: all 0.3s ease;
  &:hover {
    background-color: rgba(78,68,61,0.9);
    color: #fff;
    text-decoration: none;
    padding-bottom: 12px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
  }
}
i.fa-angle-up {
  margin-right: 15px;
}